:root {
  --first-color: hsl(353,100%,65%);
  --title-color: hsl(244,24%,25%);
  --text-color: hsl(244,16%,43%);
  --body-color: hsl (258,60%,98%);
  --container-color: #fff;
}


/* CSS */
.button-86 {
  all: unset;
  height: 30px;
  font-size: 26px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


.about{
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242424;
}

.about_img{
  margin-bottom: 1.5rem;
  max-width: 320px;
  clip-path: circle();
} 

.intro{
  max-width: 540px;
  text-align: center;
}

.about__name{
  font-size: 40px;
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
}

.home_socials{
 display: flex;
 column-gap: 1.75rem;
 margin: 1.5rem 0;
 align-items: center;
 justify-content: center;
}

.home__socials-link{
  font-size: 1.3rem;
  transition: .3s;
  color: red;

}

.home__socials-link:hover{
  color: hsl(43,100%,lightness);
}

.about__education{
  color: #fff;
  font-size: 25px;
}


::-webkit-scrollbar {
  display: none;
}

.scroll__down{
  position: relative;
  bottom: .1rem;
  left: 0;
  width: 100%;
}

.home__scroll-name{
  font-size: 20px;
  text-decoration: white;
  color: white;
  cursor: pointer;
  display:inline-block;
}

.mouse{
  border: 2px solid #4543;
  display: block;
  height: 1.6rem;
  width: 1.25rem;
  margin: auto;
  margin-top: .75rem;
  border-radius: 1rem;
  position: relative;
}

.wheel{
  background-color: white;
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 2s linear infinite;
}

@keyframes ani-mouse{
  0%{
    top: 29%;
  }
  15%{
    top: 50%;
  }
  50%{
    top: 50%;
  }
  100%{
    top: 29%;
  }
}


.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
text-decoration: none;
position: relative;
line-height: 1;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}