
.about__container{
  grid-template-columns: 3fr 9fr;
  
}

.about__pic{
  max-width: 250px;

  height: auto;
 vertical-align: middle;

}
.about__description{
 color: whitesmoke;
}

body{
  line-height: 1.7;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container{
  max-width: 1580px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; 


}

.grid{
  display: grid;
}
.section {
  padding-top: 3rem; /* Reduced padding to move the section up */
  padding-bottom: 7rem;
}

.section__title{
  margin-left: 0.875rem;
  position: relative;
  margin-bottom: 22.75rem;
  left: 155px;
  top: 300px;
  margin-left: -70px;
  color: white;
}


.section__title::before{
  content: '';
  height:2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.875rem;
  top:-0.875rem;
}


.about__data{
  padding: 1rem;
  background-color: #28282d;
  box-shadow: 10px 5px 5px #3a3232;  
  border-radius: 10px;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1.875rem;
  align-items: flex-start;
  position: relative;
}

.about__data::before{
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #28282d;
  position: absolute;
  left: -0.93rem;
  top: 20%;

}

.about__description{
  margin-bottom: 1rem;
  text-align: justify;
}


.about__skills {
  color: whitesmoke;
  row-gap: 1.25rem;
}

.skills__name{
  font-size: 20px;
  font-weight: bold;
}

.skills__number{
 line-height: 1.2;
}

.skills__bar,
.skills__percentage{
  height: 7px;
  border-radius: 0.25rem;
}

.skills__bar{
  background-color: #f1f1f1;
}
.skills__titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.skills__percentage{
  display: block;
}

.dev{
  width: 90%;
  background-color: #FF013C;
}

.uidesign{
  width: 70%;
  background-color: blueviolet;

}

.coffee{
  width: 100%;
  background-color: slategrey;
}
.effect04 {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #f1f1f1;
  outline: solid  2px #f1f1f1;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}

/* 文字1を上に */
.effect04:hover{

  background-color: #000;
}

/* HOVERしたら文字1を上に */
.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}

/*文字2*/
.effect04::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 73px;
  right: 20px;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

/* HOVERしたら文字2を上に */
.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}


.about__boxes {
  color: whitesmoke;
  position: absolute;
  top: 425px; /* Adjusted to move this section closer */
  grid-template-columns: repeat(4, 1fr);
  column-gap: 9.875rem;
}

.about__icon{
  color: red;
}

.about__box{
  display: flex;
  column-gap: 1.5rem;
}
