
.moveLeft-image {
  animation-name: slideinSamurai;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: none;
  transform: translateX(-150px); /* Adjust the X position */
  max-width: 100%;
  height: auto;
  position: relative; /* Allows fine-tuning with top/left */
  margin-top: -300px; /* Adjust based on design */
  left: -100px; /* Moves closer to the Skills text */
}

.moveLeft-skill-image{
  animation-name: slideinLeftImg ;
  animation-duration: 2s;
  animation-timing-function:ease-in ;
  animation-delay: 0s;
  animation-iteration-count:1 ;
  animation-direction: alternate-reverse;
  animation-fill-mode: none;
  transform: translateX(850px);  
  margin-top: 220px;
  position: relative;


}


.moveLeft-skill-image img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  position: relative;
  top: -45px;
}




