body{
  background-color: #242424;

}
.contact-container{
  margin: 4 rem 0;
  position: relative;
  
}

.contact-container h5{
  margin-top: 200px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  font-size: 8rem;
  color: white;
}

.contact-content{
  display: flex;
  gap: 3rem;
}