.contact-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 1.5rem;
  margin: 0 auto;
  width: 90%;
  max-width: 650px;
  left: -150px;
  color: white;
  margin-top: 14rem;
  position: relative;
  margin-bottom: 250px;
}
.contact-container h5{
  margin-bottom: -200px;
  position: relative;
}
.contact-details-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #580000;
  border: 1.5px solid #e01a24 ;
  border-radius: 0.65rem;
  padding: 1rem 1.5rem;
  width: 100%;
  gap: 1rem;
}

.contact-details-card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  filter: invert(1); /* Inverts colors */


}

.contact-details-card .icon img {
  width: 1.5rem;
  height: auto;
  object-fit: contain;
}

.contact-details-card p {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  flex-grow: 1;
  margin: 0;
}
