.heading{
  font-size: 8rem;
  text-align: center;
  margin: 5rem 0;
}

.eduction{
  padding: 100px 15px;
  background: white;
}

.eduction h2{
  margin-bottom: 5rem;
  color: white;
}


.heading {
  color: white;
}

.timeline-items{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: white;
  left: calc(50% - 1px);
}

.timeline-item{
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child{
  margin-bottom: 0;
}

.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: rgb(255, 0, 43);
  box-shadow: 0 0 25px rgb(255, 0, 128), 0 0 50px rgb(255, 0, 98);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;

}

.timeline-date{
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}

.timeline-content{
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  border: 3px solid #FF013C;
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px FF013C;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px red;
}

.timeline-content h3{
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}

.timeline-content p{
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}


