body{
  background-color: rgb(46, 37, 37);
  
}


.work-experience-card{
  background: #242323;
  border-radius: 0.65rem;
  border: 1.5px solid #f8f8f8;
  padding: 1.5rem;
  margin: 0 1rem;
  max-width: 90%;
}

.work-experience-card h6 {
  font-size: 2.05rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
  color: white;
}

.work-duration{
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  background: rgba(248, 0, 0, 0.815);
  border-radius: 0.3rem;
  padding: 0.4rem 0.6rem;
  margin-bottom: 1.3rem;
}
.work-duration {
  color: white;
}


.work-experience-card ul li{
  list-style: none;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  position: relative;
  color: white;
}

.work-experience-card ul li::after{
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  position: absolute;
  left: -1.3rem;
  top: 0.35rem;
}



@media (max-width: 768px) {
  .work-experience-card {
    margin: 0;
  }
  .work-experience-card h6 {
    font-size: 0.95rem;
  }

  .work-experience-card ul li{
    font-size: 0.75rem;
  }
}

