.skills-info-card{
  margin-top: -75px;
  color: white;
}

.skills-info-card h6{
  font-size: 2.2rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  background: linear-gradient(180deg, #d62828 0%, #fc0000 100%);
  background-clip: text;
  -webkit-backdrop-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2.5px solid #ff0000;
}

.skills-info-content{
  padding: 2rem;
}

.skill-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-info p{
  font-size: 1rem;
  font-weight: 500;
}

.skill-info .percentage{
  color: #ff0000;
}

.skill-progress-bg{
  width: 100%;
  height: 0.5rem;
  background: #410000;
  border-radius: 0.5rem;
  margin: 1rem 0;
  overflow: hidden;
}

.skill-progress{
  width: 0%;
  height: 0.5rem;
  background: linear-gradient(90deg, #f76f00 -50%, #f30a0a 50%);
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

@media(max-width: 1025px) {
  .skills-info-card h6{
    font-size: 1.1rem;
  }

  .skill-info p{
    font-size: 0.9rem;
  }

  .skills-info-content{
    padding: 1.5rem;
  }
}

