body{
  overflow-x: hidden;

}



.experience-container{
  margin: 6rem 0;
  position: relative;
  left:18px;
  
}


.experience-container h5{
  font: italic small-caps bold 16px/2 cursive;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-left: 1rem;

  color: white;
}

.arrow-left,
.arrow-right{
  width: 2.1rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fd0000;
  border-radius: 0.65rem;
  position: absolute;
  top: 60%;
  z-index: 2;
  cursor: pointer;
}

.arrow-left span,
.arrow-right span{
  font-size: 2rem;
  font-weight: 500;
}

.arrow-left{
  left: -1.2rem;
}

.arrow-right{
  right: 1.2rem;
}


@media (max-width: 1025px){
  .arrow-left {
    left: 0rem;
  }

  .arrow-right{
    right: 0rem;
  }
}

@media (max-width: 768px) {
  .experience-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .arrow-left{
    left: -1rem;
  }
  .arrow-right{
    right: -1rem;
  }
}